In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('precision', 12);


def load_dataset(name):
    dataset = pd.read_csv(name, header=0, delimiter=',')
    return dataset


dataset = load_dataset('customerTargeting.csv')
data = dataset.values
labels = dataset.columns.values

In [3]:
dataset.describe()

,g1_1,g1_2,g1_3,g1_4,g1_5,g1_6,g1_7,g1_8,g1_9,g1_10,...,c_20,c_21,c_22,c_23,c_24,c_25,c_26,c_27,c_28,target
count,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,...,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000,6620.00000
mean,2.70878,14.42402,10.48565,24.90967,10.98807,13.41208,10.16103,10.74547,14.16903,3.25106,...,-0.02931,-0.00672,-0.00415,0.00883,0.00000,-0.22843,-0.10373,0.00041,1.91713,1.03172
std,1.85772,10.70079,8.38420,18.17495,5.63598,10.09003,7.49504,7.96425,9.86673,8.48121,...,1.22075,1.06820,0.66324,0.68342,0.32287,3.39090,1.94442,0.09276,0.30218,0.73104
min,1.05000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,-27.00000,...,-4.68411,-4.31983,-2.51292,-3.11884,-2.00000,-15.20274,-9.18172,-0.75000,0.00000,0.00000
25%,1.66700,6.00000,4.00000,10.00000,6.00000,5.00000,4.00000,4.00000,6.00000,-2.00000,...,-0.71641,-0.53122,-0.44041,-0.40681,0.00000,-2.22223,-1.29347,-0.05433,1.71000,0.00000
50%,2.15000,13.00000,9.00000,22.00000,11.00000,12.00000,9.00000,9.00000,13.00000,1.00000,...,0.00000,0.00000,0.00000,0.00107,0.00000,-0.11938,-0.01249,0.00000,1.85000,1.00000
75%,2.80000,21.00000,15.00000,36.00000,16.00000,20.00000,15.00000,16.00000,21.00000,7.00000,...,0.65463,0.49050,0.41091,0.45010,0.00000,1.80933,1.03523,0.05483,2.02000,2.00000
max,23.00000,52.00000,47.00000,94.00000,20.00000,61.00000,43.00000,48.00000,52.00000,48.00000,...,4.82114,4.39628,2.98714,2.83055,2.00000,12.56270,8.20958,0.66667,4.33000,2.00000

In [5]:
y = data[:, 70]

In [8]:
X = data[:, [i for i in range(69)]]

In [9]:
X

array([[ 4.50000000e+00,  1.00000000e+00,  3.00000000e+00, ...,
        -3.23200000e+00, -1.94400000e+00, -7.94352044e-03],
       [ 2.20000000e+00,  2.40000000e+01,  2.20000000e+01, ...,
        -5.34217368e+00, -1.32135450e+00,  1.81063922e-01],
       [ 1.20000000e+01,  7.00000000e+00,  4.00000000e+00, ...,
        -6.56652100e+00, -4.17640335e+00, -4.02769281e-02],
       ...,
       [ 2.50000000e+00,  5.00000000e+00,  8.00000000e+00, ...,
         1.74344441e+00,  1.15972509e+00,  1.91948723e-02],
       [ 1.80000000e+00,  5.00000000e+00,  4.00000000e+00, ...,
         1.95916800e+00,  1.39641600e+00,  7.11798746e-02],
       [ 1.95000000e+00,  3.50000000e+01,  3.70000000e+01, ...,
        -3.36965072e+00, -4.92462849e-01,  4.25231278e-02]])

In [11]:
corr = dataset.corr()

TypeError: 'numpy.ndarray' object is not callable

In [30]:
corr_target = corr['target']

In [54]:
corr_target

g1_1      0.23235
g1_2     -0.04270
g1_3     -0.06241
g1_4     -0.05393
g1_5      0.08791
g1_6     -0.03348
g1_7      0.04021
g1_8     -0.05313
g1_9      0.03017
g1_10    -0.07536
g1_11    -0.08401
g1_12    -0.09045
g1_13    -0.08958
g1_14    -0.08564
g1_15    -0.04567
g1_16    -0.06760
g1_17    -0.04980
g1_18     0.04498
g1_19     0.04290
g1_20    -0.05857
g1_21    -0.04782
g2_1     -0.12021
g2_2      0.06314
g2_3      0.09139
g2_4      0.07907
g2_5     -0.12189
g2_6      0.06301
g2_7     -0.05924
g2_8      0.07441
g2_9     -0.05108
           ...
g2_21    -0.00176
c_1      -0.02512
c_2      -0.21937
c_3       0.12375
c_4      -0.09882
c_5      -0.03126
c_6      -0.08984
c_7       0.01143
c_8       0.16236
c_9       0.00920
c_10     -0.14253
c_11     -0.13279
c_12     -0.16714
c_13      0.02127
c_14     -0.04412
c_15      0.00393
c_16     -0.04654
c_17     -0.14114
c_18     -0.13966
c_19     -0.16422
c_20     -0.16283
c_21     -0.15716
c_22      0.02471
c_23     -0.05059
c_24     -0.04545
c_25     -0.14781
c_26     -0.14923
c_27     -0.06214
c_28      0.02135
target    1.00000
Name: target, Length: 71, dtype: float64

IndexError: Inconsistent shape between the condition and the input (got (71, 1) and (71,))

In [47]:
for i in range(70):
    if corr_target[i] <-0.1 or corr_target[i] >0.1:
        print(corr_target[i])

0.23234998298117598
-0.1202072685376826
-0.12188659826823008
0.12469087072531423
0.12983734078460057
0.14444945164192363
0.12419816076414454
0.1179412088051384
0.10208406099868521
0.1112767645976033
-0.2193705322455798
0.1237546242855789
0.16236226331703277
-0.1425263126189191
-0.1327865722105439
-0.1671398508042103
-0.1411432295372999
-0.13966477347228473
-0.16422370856431898
-0.1628337200106512
-0.1571633215387412
-0.14781332510114797
-0.14923256464570114